.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Info {
  width: 90%;
}

.InputArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  min-width: 300px;
}

.Weight input {
  width: 30%;
}
.Height input {
  width: 30%;
}

.ButtonContainer {
  width: 100%;
  margin-top: 1rem;
}

.Button {
  border-radius: 10px;
  height: 40px;
  width: 30%;
  border: 0.5px solid blue;
  background-color: white;
  font-weight: bold;
  color: blue;
}
.Button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

.Button:focus {
  outline: none;
}

.Graph {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Graph a {
  text-decoration: none;
  color: blue;
}
.Graph a:hover {
  color: darkred;
}
.Chart {
  width: 80%;
  /* padding-top: 2rem; */
}

@media screen and (max-width: 600px) {
  .Chart {
    width: 100%;
  }
}

.SocialMedia {
  width: 100%;
}
.SocialMedia i {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(6, 6, 110);
}
.SocialMedia i:hover {
  cursor: pointer;
  color: darkred;
}
