.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Info {
  width: 60%;
}

.ButtonContainer {
  width: 100%;
}

.Button {
  border-radius: 10px;
  height: 40px;
  width: 20%;
  border: 0.5px solid blue;
  background-color: white;
  font-weight: bold;
  color: blue;
}
.Button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

.Button:focus {
  outline: none;
}

.Graph a {
  text-decoration: none;
  color: blue;
}
.Graph a:hover {
  color: red;
}
.Chart {
  width: 80%;
  padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .Chart {
    width: 100%;
  }
}
